<a href="https://colab.research.google.com/github/doguedogue/pythonic-colab/blob/main/rva_dane.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pythonic - Colab - DANE

## Aula 3

### Carga google drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Cargando archivo de datos

SRC = https://microdatos.dane.gov.co/index.php/catalog/743/get-microdata

In [2]:
import pandas as pd

datos_raw = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Identificación (Capítulo A).csv', sep=';', encoding='latin-1')

datos_raw.head()

,DIRECTORIO,DPTO,MPIO,CLASE,COD_LOCALIDAD,NOMBRE_LOCALIDAD,COD_UPZ_GRUPO,NOMBRE_UPZ_GRUPO,ESTRATO2021,NOMBRE_ESTRATO,FEX_C
0,3004346.0,11,11001,1,3.0,Santa Fe,814.0,SANTA FE: Las Nieves + Sagrado Corazón,11001187,SANTA FE: Las Nieves + Sagrado Corazón,"13,2266692027239"
1,3004347.0,11,11001,1,14.0,Los Mártires,37.0,Santa Isabel,11001162,Santa Isabel,"17,8555889419101"
2,3004348.0,11,11001,1,3.0,Santa Fe,814.0,SANTA FE: Las Nieves + Sagrado Corazón,11001187,SANTA FE: Las Nieves + Sagrado Corazón,"10,0286103658331"
3,3004349.0,11,11001,1,1.0,Usaquén,803.0,USAQUÉN: Country Club + Santa Bárbara,11001176,USAQUÉN: Country Club + Santa Bárbara,"28,6502122142802"
4,3004350.0,11,11001,1,1.0,Usaquén,803.0,USAQUÉN: Country Club + Santa Bárbara,11001176,USAQUÉN: Country Club + Santa Bárbara,"24,4684068319009"

### Contar los registros

In [3]:
datos_raw.shape

(106467, 11)

### Extrayendo solo del municipio de Bogotá

In [4]:
datos_raw = datos_raw.loc[datos_raw.MPIO == 11001]
datos_raw.shape

(86504, 11)

### Carga otro archivo con información relacionada

In [5]:
datos_b = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Datos de la vivenda y su entorno (Capítulo B).csv', sep=';', encoding='latin-1')

### Información cargada en datos_b

In [6]:
datos_b.head(5)

,DIRECTORIO,NVCBP1,NVCBP2,NVCBP3,NVCBP4,NVCBP5,NVCBP6,NVCBP7,NVCBP8A,NVCBP8B,...,NVCBP15J,NVCBP15K,NVCBP15L,NVCBP15M,NVCBP16A1,NVCBP16A2,NVCBP16A3,NVCBP16A4,NVCBP16,FEX_C
0,3005117.0,4,1.0,1,1,1,12,1.0,2,2,...,2,2,2,2,1,1,1,1,1,"19,5771388808791"
1,3005118.0,2,1.0,1,2,1,5,2.0,2,2,...,2,2,2,2,1,1,1,1,1,"11,3314401226775"
2,3005119.0,1,NaN,1,2,1,1,NaN,2,2,...,2,2,2,2,2,2,2,2,1,"5,67151636864259"
3,3005120.0,2,1.0,1,1,1,8,1.0,2,2,...,2,2,2,2,1,1,1,1,1,"5,47075697554425"
4,3005121.0,4,1.0,1,2,1,6,2.0,1,2,...,2,2,2,2,1,1,1,1,1,"16,8447673879615"

### Merge de la información obtenida con la primer carga (datos_raw)
Haciendo una especie de left join
pivote el campo DIRECTORIO

In [7]:
datos_dane = pd.merge(datos_raw, datos_b,on='DIRECTORIO', how='left')
datos_dane.shape

(86504, 73)

### Verificando la información total cargada
NOTA: validar siempre la memory usage: 48.8+ MB

In [8]:
datos_dane.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86504 entries, 0 to 86503
Data columns (total 73 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   DIRECTORIO        86504 non-null  float64
 1   DPTO              86504 non-null  int64
 2   MPIO              86504 non-null  int64
 3   CLASE             86504 non-null  int64
 4   COD_LOCALIDAD     86504 non-null  float64
 5   NOMBRE_LOCALIDAD  86504 non-null  object
 6   COD_UPZ_GRUPO     83736 non-null  float64
 7   NOMBRE_UPZ_GRUPO  83736 non-null  object
 8   ESTRATO2021       86504 non-null  int64
 9   NOMBRE_ESTRATO    86504 non-null  object
 10  FEX_C_x           86504 non-null  object
 11  NVCBP1            86504 non-null  int64
 12  NVCBP2            78357 non-null  float64
 13  NVCBP3            86504 non-null  int64
 14  NVCBP4            86504 non-null  int64
 15  NVCBP5            86504 non-null  int64
 16  NVCBP6            86504 non-null  int64
 17  NVCBP7            35631 non-null  float64
 18  NVCBP8A           86504 non-null  int64
 19  NVCBP8B           86504 non-null  int64
 20  NVCBP8C           86504 non-null  int64
 21  NVCBP8D           86504 non-null  int64
 22  NVCBP8E           86504 non-null  int64
 23  NVCBP8F           86504 non-null  int64
 24  NVCBP8G           86504 non-null  int64
 25  NVCBP8H           86504 non-null  int64
 26  NVCBP8I           86504 non-null  int64
 27  NVCBP8J           86504 non-null  int64
 28  NVCBP9            86504 non-null  int64
 29  NVCBP9A1          3374 non-null   float64
 30  NVCBP9A2          3374 non-null   float64
 31  NVCBP9A3          3374 non-null   float64
 32  NVCBP9A4          3374 non-null   float64
 33  NVCBP10           86504 non-null  int64
 34  NVCBP11A          86504 non-null  int64
 35  NVCBP11AA         86304 non-null  float64
 36  NVCBP11B          86504 non-null  int64
 37  NVCBP11C          86504 non-null  int64
 38  NVCBP11D          86504 non-null  int64
 39  NVCBP11DA         85352 non-null  float64
 40  NVCBP12           86504 non-null  int64
 41  NVCBP13           86504 non-null  int64
 42  NVCBP14A          86504 non-null  int64
 43  NVCBP14B          86504 non-null  int64
 44  NVCBP14C          86504 non-null  int64
 45  NVCBP14D          86504 non-null  int64
 46  NVCBP14E          86504 non-null  int64
 47  NVCBP14L          86504 non-null  int64
 48  NVCBP14F          86504 non-null  int64
 49  NVCBP14G          86504 non-null  int64
 50  NVCBP14H          86504 non-null  int64
 51  NVCBP14I          86504 non-null  int64
 52  NVCBP14J          86504 non-null  int64
 53  NVCBP14K          86504 non-null  int64
 54  NVCBP15A          86504 non-null  int64
 55  NVCBP15B          86504 non-null  int64
 56  NVCBP15C          86504 non-null  int64
 57  NVCBP15D          86504 non-null  int64
 58  NVCBP15E          86504 non-null  int64
 59  NVCBP15F          86504 non-null  int64
 60  NVCBP15G          86504 non-null  int64
 61  NVCBP15H          86504 non-null  int64
 62  NVCBP15I          86504 non-null  int64
 63  NVCBP15J          86504 non-null  int64
 64  NVCBP15K          86504 non-null  int64
 65  NVCBP15L          86504 non-null  int64
 66  NVCBP15M          86504 non-null  int64
 67  NVCBP16A1         86504 non-null  int64
 68  NVCBP16A2         86504 non-null  int64
 69  NVCBP16A3         86504 non-null  int64
 70  NVCBP16A4         86504 non-null  int64
 71  NVCBP16           86504 non-null  int64
 72  FEX_C_y           86504 non-null  object
dtypes: float64(11), int64(57), object(5)
memory usage: 48.8+ MB

### Desafio

1. Dar un vistazo a la base de datos del DANE, entender estas variables conceptualmente para entender mejor el contexto de esta base.
2. Organizar tu notebook para que tu proyecto quede mejor presentado.

## Aula 4

### Carga archivo depurado de info DANE

In [9]:
datos_dane = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/datos_dane.csv')

datos_dane.head()

,DIRECTORIO,NOMBRE_LOCALIDAD,NOMBRE_ESTRATO,NVCBP4,NVCBP14A,NVCBP14D,NVCBP14E,NVCBP14G,NVCBP15A,NVCBP15C,...,NHCLP5,NHCLP8AB,NHCLP8AE,NHCLP10,NHCLP11,NHCLP29_1A,NHCLP29_1C,NHCLP29_1E,NHCLP29_1F,NPCHP4
0,3004368.0,Usaquén,USAQUÉN: Paseo de Los Libertadores + La Uribe,1,2,2,2,2,2,2,...,1,NaN,NaN,2,2,NaN,NaN,NaN,NaN,9.0
1,3004369.0,Usaquén,Usaquén,1,2,2,2,2,2,2,...,2,NaN,NaN,3,2,NaN,NaN,NaN,NaN,11.0
2,3004375.0,Chapinero,CHAPINERO: Pardo Rubio + Chapinero,2,2,2,2,2,2,1,...,2,NaN,NaN,2,2,NaN,NaN,1.0,NaN,11.0
3,3004380.0,Usaquén,Los Cedros,1,2,2,2,2,2,2,...,1,NaN,NaN,3,2,NaN,NaN,NaN,NaN,9.0
4,3004383.0,Fontibón,Ciudad Salitre Occidental,1,2,2,2,2,1,2,...,2,NaN,NaN,2,2,NaN,NaN,NaN,NaN,11.0

### Cantidad de registros

In [10]:
datos_dane.shape

(9857, 55)