<a href="https://colab.research.google.com/github/doguedogue/pythonic-colab/blob/main/rva_tests.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pythonic - Colab

Carga google drive

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Importa archivo en drive, lo convierte en frame pandas
Lee los primeros registros del archivo

In [3]:
import pandas as pd

inmuebles = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/inmuebles_bogota.csv')

inmuebles.head()

,Tipo,Descripcion,Habitaciones,Baños,Área,Barrio,UPZ,Valor
0,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,70,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 360.000.000
1,Casa,Casa en venta en Castilla,4,3,170,Castilla,KENNEDY: Castilla + Bavaria,$ 670.000.000
2,Apartamento,Apartamento en venta en Chico Reservado,3,3,144,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 1.120.000.000
3,Apartamento,Apartamento en venta en Usaquén,3,2,154,Usaquén,Usaquén,$ 890.000.000
4,Apartamento,Apartamento en venta en Bella Suiza,2,3,128,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 970.000.000

Conteo de filas y columnas

In [4]:
inmuebles.shape

(9520, 8)

Lista las columnas del archivo

In [5]:
inmuebles.columns

Index(['Tipo', 'Descripcion', 'Habitaciones', 'Baños', 'Área', 'Barrio', 'UPZ',
       'Valor'],
      dtype='object')

Reemplaza nombres de columnas con carácteres especiales y muestra 10 registros random

In [6]:
columnas = {'Baños': 'Banos', 'Área':'Area'}
inmuebles = inmuebles.rename(columns=columnas)
inmuebles.sample(10)

,Tipo,Descripcion,Habitaciones,Banos,Area,Barrio,UPZ,Valor
7441,Apartamento,Apartamento en venta en Niza,3,3,125,Niza,Niza,$ 800.000.000
155,Apartamento,Apartamento en venta en Cedritos,4,3,135,Cedritos,Usaquén,$ 635.000.000
1338,Apartamento,Apartamento en venta en Los Mártires,3,2,62,Los Mártires,La Sabana,$ 270.000.000
6880,Apartamento,Apartamento en venta en Chico Reservado,3,5,272,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 4.729.592.000
4434,Casa,Casa en venta en Suba,3,4,430,Suba,Suba,$ 2.300.000.000
6811,Casa,Casa en venta en Usaquén,5,4,316,Usaquén,Usaquén,$ 950.000.000
845,Apartamento,Apartamento en venta en Cedritos,3,3,108,Cedritos,Usaquén,$ 498.000.000
9212,Apartamento,Apartamento en venta en Santa Fe,3,3,90,Santa Fe,SANTA FE: Las Nieves + Sagrado Corazón,$ 660.000.000
1446,Apartamento,Apartamento en venta en Nueva Zelandia,2,1,40,Nueva Zelandia,SUBA: La Academia + Guaymaral + San José de Ba...,$ 213.000.000
4675,Apartamento,Apartamento en venta en Usaquén,3,2,95,Usaquén,Usaquén,$ 450.000.000

Información del archivo ahora frame pandas cargado

In [7]:
inmuebles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9520 entries, 0 to 9519
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tipo          9520 non-null   object
 1   Descripcion   9520 non-null   object
 2   Habitaciones  9520 non-null   int64
 3   Banos         9520 non-null   int64
 4   Area          9520 non-null   int64
 5   Barrio        9520 non-null   object
 6   UPZ           9478 non-null   object
 7   Valor         9520 non-null   object
dtypes: int64(3), object(5)
memory usage: 595.1+ KB

Busca y muestra un registro en especial (300)

In [9]:
inmuebles.iloc[300]

Tipo                                Apartamento
Descripcion     Apartamento en venta en Kennedy
Habitaciones                                  2
Banos                                         1
Area                                         42
Barrio                                  Kennedy
UPZ                             Kennedy Central
Valor                             $ 116.100.000
Name: 300, dtype: object