<a href="https://colab.research.google.com/github/doguedogue/pythonic-colab/blob/main/rva_dane.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pythonic - Colab - DANE

## Aula 3

### Carga google drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Cargando archivo de datos

SRC = https://microdatos.dane.gov.co/index.php/catalog/743/get-microdata

In [2]:
import pandas as pd

datos_raw = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Identificación (Capítulo A).csv', sep=';', encoding='latin-1')

datos_raw.head()

,DIRECTORIO,DPTO,MPIO,CLASE,COD_LOCALIDAD,NOMBRE_LOCALIDAD,COD_UPZ_GRUPO,NOMBRE_UPZ_GRUPO,ESTRATO2021,NOMBRE_ESTRATO,FEX_C
0,3004346.0,11,11001,1,3.0,Santa Fe,814.0,SANTA FE: Las Nieves + Sagrado Corazón,11001187,SANTA FE: Las Nieves + Sagrado Corazón,"13,2266692027239"
1,3004347.0,11,11001,1,14.0,Los Mártires,37.0,Santa Isabel,11001162,Santa Isabel,"17,8555889419101"
2,3004348.0,11,11001,1,3.0,Santa Fe,814.0,SANTA FE: Las Nieves + Sagrado Corazón,11001187,SANTA FE: Las Nieves + Sagrado Corazón,"10,0286103658331"
3,3004349.0,11,11001,1,1.0,Usaquén,803.0,USAQUÉN: Country Club + Santa Bárbara,11001176,USAQUÉN: Country Club + Santa Bárbara,"28,6502122142802"
4,3004350.0,11,11001,1,1.0,Usaquén,803.0,USAQUÉN: Country Club + Santa Bárbara,11001176,USAQUÉN: Country Club + Santa Bárbara,"24,4684068319009"

### Contar los registros

In [3]:
datos_raw.shape

(106467, 11)

### Extrayendo solo del municipio de Bogotá

In [4]:
datos_raw = datos_raw.loc[datos_raw.MPIO == 11001]
datos_raw.shape

(86504, 11)

### Carga otro archivo con información relacionada

In [5]:
datos_b = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Datos de la vivenda y su entorno (Capítulo B).csv', sep=';', encoding='latin-1')

### Información cargada en datos_b

In [6]:
datos_b.head(5)

,DIRECTORIO,NVCBP1,NVCBP2,NVCBP3,NVCBP4,NVCBP5,NVCBP6,NVCBP7,NVCBP8A,NVCBP8B,...,NVCBP15J,NVCBP15K,NVCBP15L,NVCBP15M,NVCBP16A1,NVCBP16A2,NVCBP16A3,NVCBP16A4,NVCBP16,FEX_C
0,3005117.0,4,1.0,1,1,1,12,1.0,2,2,...,2,2,2,2,1,1,1,1,1,"19,5771388808791"
1,3005118.0,2,1.0,1,2,1,5,2.0,2,2,...,2,2,2,2,1,1,1,1,1,"11,3314401226775"
2,3005119.0,1,NaN,1,2,1,1,NaN,2,2,...,2,2,2,2,2,2,2,2,1,"5,67151636864259"
3,3005120.0,2,1.0,1,1,1,8,1.0,2,2,...,2,2,2,2,1,1,1,1,1,"5,47075697554425"
4,3005121.0,4,1.0,1,2,1,6,2.0,1,2,...,2,2,2,2,1,1,1,1,1,"16,8447673879615"

### Merge de la información obtenida con la primer carga (datos_raw)
Haciendo una especie de left join
pivote el campo DIRECTORIO

In [7]:
datos_dane = pd.merge(datos_raw, datos_b,on='DIRECTORIO', how='left')
datos_dane.shape

(86504, 73)

### Verificando la información total cargada
NOTA: validar siempre la memory usage: 48.8+ MB

In [8]:
datos_dane.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86504 entries, 0 to 86503
Data columns (total 73 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   DIRECTORIO        86504 non-null  float64
 1   DPTO              86504 non-null  int64
 2   MPIO              86504 non-null  int64
 3   CLASE             86504 non-null  int64
 4   COD_LOCALIDAD     86504 non-null  float64
 5   NOMBRE_LOCALIDAD  86504 non-null  object
 6   COD_UPZ_GRUPO     83736 non-null  float64
 7   NOMBRE_UPZ_GRUPO  83736 non-null  object
 8   ESTRATO2021       86504 non-null  int64
 9   NOMBRE_ESTRATO    86504 non-null  object
 10  FEX_C_x           86504 non-null  object
 11  NVCBP1            86504 non-null  int64
 12  NVCBP2            78357 non-null  float64
 13  NVCBP3            86504 non-null  int64
 14  NVCBP4            86504 non-null  int64
 15  NVCBP5            86504 non-null  int64
 16  NVCBP6            86504 non-null  int64
 17  NVCBP7            35631 non-null  float64
 18  NVCBP8A           86504 non-null  int64
 19  NVCBP8B           86504 non-null  int64
 20  NVCBP8C           86504 non-null  int64
 21  NVCBP8D           86504 non-null  int64
 22  NVCBP8E           86504 non-null  int64
 23  NVCBP8F           86504 non-null  int64
 24  NVCBP8G           86504 non-null  int64
 25  NVCBP8H           86504 non-null  int64
 26  NVCBP8I           86504 non-null  int64
 27  NVCBP8J           86504 non-null  int64
 28  NVCBP9            86504 non-null  int64
 29  NVCBP9A1          3374 non-null   float64
 30  NVCBP9A2          3374 non-null   float64
 31  NVCBP9A3          3374 non-null   float64
 32  NVCBP9A4          3374 non-null   float64
 33  NVCBP10           86504 non-null  int64
 34  NVCBP11A          86504 non-null  int64
 35  NVCBP11AA         86304 non-null  float64
 36  NVCBP11B          86504 non-null  int64
 37  NVCBP11C          86504 non-null  int64
 38  NVCBP11D          86504 non-null  int64
 39  NVCBP11DA         85352 non-null  float64
 40  NVCBP12           86504 non-null  int64
 41  NVCBP13           86504 non-null  int64
 42  NVCBP14A          86504 non-null  int64
 43  NVCBP14B          86504 non-null  int64
 44  NVCBP14C          86504 non-null  int64
 45  NVCBP14D          86504 non-null  int64
 46  NVCBP14E          86504 non-null  int64
 47  NVCBP14L          86504 non-null  int64
 48  NVCBP14F          86504 non-null  int64
 49  NVCBP14G          86504 non-null  int64
 50  NVCBP14H          86504 non-null  int64
 51  NVCBP14I          86504 non-null  int64
 52  NVCBP14J          86504 non-null  int64
 53  NVCBP14K          86504 non-null  int64
 54  NVCBP15A          86504 non-null  int64
 55  NVCBP15B          86504 non-null  int64
 56  NVCBP15C          86504 non-null  int64
 57  NVCBP15D          86504 non-null  int64
 58  NVCBP15E          86504 non-null  int64
 59  NVCBP15F          86504 non-null  int64
 60  NVCBP15G          86504 non-null  int64
 61  NVCBP15H          86504 non-null  int64
 62  NVCBP15I          86504 non-null  int64
 63  NVCBP15J          86504 non-null  int64
 64  NVCBP15K          86504 non-null  int64
 65  NVCBP15L          86504 non-null  int64
 66  NVCBP15M          86504 non-null  int64
 67  NVCBP16A1         86504 non-null  int64
 68  NVCBP16A2         86504 non-null  int64
 69  NVCBP16A3         86504 non-null  int64
 70  NVCBP16A4         86504 non-null  int64
 71  NVCBP16           86504 non-null  int64
 72  FEX_C_y           86504 non-null  object
dtypes: float64(11), int64(57), object(5)
memory usage: 48.8+ MB

### Desafio

1. Dar un vistazo a la base de datos del DANE, entender estas variables conceptualmente para entender mejor el contexto de esta base.
2. Organizar tu notebook para que tu proyecto quede mejor presentado.

## Aula 4

### Carga archivo depurado de info DANE

In [9]:
datos_dane = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/datos_dane.csv')

datos_dane.head()

,DIRECTORIO,NOMBRE_LOCALIDAD,NOMBRE_ESTRATO,NVCBP4,NVCBP14A,NVCBP14D,NVCBP14E,NVCBP14G,NVCBP15A,NVCBP15C,...,NHCLP5,NHCLP8AB,NHCLP8AE,NHCLP10,NHCLP11,NHCLP29_1A,NHCLP29_1C,NHCLP29_1E,NHCLP29_1F,NPCHP4
0,3004368.0,Usaquén,USAQUÉN: Paseo de Los Libertadores + La Uribe,1,2,2,2,2,2,2,...,1,NaN,NaN,2,2,NaN,NaN,NaN,NaN,9.0
1,3004369.0,Usaquén,Usaquén,1,2,2,2,2,2,2,...,2,NaN,NaN,3,2,NaN,NaN,NaN,NaN,11.0
2,3004375.0,Chapinero,CHAPINERO: Pardo Rubio + Chapinero,2,2,2,2,2,2,1,...,2,NaN,NaN,2,2,NaN,NaN,1.0,NaN,11.0
3,3004380.0,Usaquén,Los Cedros,1,2,2,2,2,2,2,...,1,NaN,NaN,3,2,NaN,NaN,NaN,NaN,9.0
4,3004383.0,Fontibón,Ciudad Salitre Occidental,1,2,2,2,2,1,2,...,2,NaN,NaN,2,2,NaN,NaN,NaN,NaN,11.0

### Cantidad de registros

In [10]:
datos_dane.shape

(9857, 55)

### Información de los datos cargados

In [12]:
datos_dane.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9857 entries, 0 to 9856
Data columns (total 55 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   DIRECTORIO        9857 non-null   float64
 1   NOMBRE_LOCALIDAD  9857 non-null   object
 2   NOMBRE_ESTRATO    9857 non-null   object
 3   NVCBP4            9857 non-null   int64
 4   NVCBP14A          9857 non-null   int64
 5   NVCBP14D          9857 non-null   int64
 6   NVCBP14E          9857 non-null   int64
 7   NVCBP14G          9857 non-null   int64
 8   NVCBP15A          9857 non-null   int64
 9   NVCBP15C          9857 non-null   int64
 10  NVCBP15F          9857 non-null   int64
 11  NVCBP15G          9857 non-null   int64
 12  NVCBP16A3         9857 non-null   int64
 13  NVCBP16A4         9857 non-null   int64
 14  NPCKP17           9857 non-null   float64
 15  NPCKP18           9857 non-null   float64
 16  NPCKP23           9558 non-null   float64
 17  NPCKP44A          9857 non-null   float64
 18  NPCKPN62A         9857 non-null   float64
 19  NPCKPN62B         9558 non-null   float64
 20  NPCKP64A          9857 non-null   int64
 21  NPCKP64E          9857 non-null   int64
 22  NHCCP3            9857 non-null   float64
 23  NHCCP6            9857 non-null   float64
 24  NHCCP7            9558 non-null   float64
 25  NHCCP8_1          1434 non-null   float64
 26  NHCCP8_2          1434 non-null   float64
 27  NHCCP8_3          1434 non-null   float64
 28  NHCCP8_6          1434 non-null   float64
 29  NHCCP8_7          1434 non-null   float64
 30  NHCCP8_8          1434 non-null   float64
 31  NHCCP8_9          1434 non-null   float64
 32  NHCCP9            9558 non-null   float64
 33  NHCCP11           9857 non-null   int64
 34  NHCCP11A          1177 non-null   float64
 35  NHCCP12           8680 non-null   float64
 36  NHCCP41           9857 non-null   int64
 37  NHCCP41A          4987 non-null   float64
 38  NHCCP47A          9857 non-null   int64
 39  NHCCP47B          9857 non-null   int64
 40  NHCLP2A           9857 non-null   int64
 41  NHCLP2B           9857 non-null   int64
 42  NHCLP2C           9857 non-null   int64
 43  NHCLP2E           9857 non-null   int64
 44  NHCLP4            9857 non-null   int64
 45  NHCLP5            9857 non-null   int64
 46  NHCLP8AB          288 non-null    float64
 47  NHCLP8AE          288 non-null    float64
 48  NHCLP10           9857 non-null   int64
 49  NHCLP11           9857 non-null   int64
 50  NHCLP29_1A        410 non-null    float64
 51  NHCLP29_1C        143 non-null    float64
 52  NHCLP29_1E        1272 non-null   float64
 53  NHCLP29_1F        152 non-null    float64
 54  NPCHP4            9447 non-null   float64
dtypes: float64(28), int64(25), object(2)
memory usage: 4.1+ MB

### Diccionario para renombrar las columnas

In [13]:
dic_dane = {
       'NVCBP4':'CONJUNTO_CERRADO',
       'NVCBP14A':'FABRICAS_CERCA', 'NVCBP14D':'TERMINALES_BUS', 'NVCBP14E':'BARES_DISCO', 
       'NVCBP14G':'OSCURO_PELIGROSO', 'NVCBP15A':'RUIDO', 'NVCBP15C':'INSEGURIDAD',
       'NVCBP15F':'BASURA_INADECUADA', 'NVCBP15G':'INVASION','NVCBP16A3':'MOV_ADULTOS_MAYORES', 
       'NVCBP16A4':'MOV_NINOS_BEBES',
       'NPCKP17':'OCUPACION','NPCKP18':'CONTRATO','NPCKP23':'SALARIO_MES', 
       'NPCKP44A':'DONDE_TRABAJA', 'NPCKPN62A':'DECLARACION_RENTA', 
       'NPCKPN62B':'VALOR_DECLARACION', 'NPCKP64A':'PERDIDA_TRABAJO_C19', 
       'NPCKP64E':'PERDIDA_INGRESOS_C19',
       'NHCCP3':'TIENE_ESCRITURA', 'NHCCP6':'ANO_COMPRA', 'NHCCP7':'VALOR_COMPRA', 'NHCCP8_1':'HIPOTECA_CRED_BANCO',
       'NHCCP8_2':'OTRO_CRED_BANCO', 'NHCCP8_3':'CRED_FNA', 'NHCCP8_6':'PRESTAMOS_AMIGOS',
       'NHCCP8_7':'CESANTIAS', 'NHCCP8_8':'AHORROS', 'NHCCP8_9':'SUBSIDIOS',
       'NHCCP9':'CUANTO_PAGARIA_MENSUAL', 'NHCCP11':'PLANES_ADQUIRIR_VIVIENDA', 
       'NHCCP11A':'MOTIVO_COMPRA', 'NHCCP12':'RAZON_NO_ADQ_VIV', 'NHCCP41':'TIENE_CARRO','NHCCP41A':'CUANTOS_CARROS',
       'NHCCP47A':'TIENE_PERROS', 'NHCCP47B':'TIENE_GATOS', 'NHCLP2A':'VICTIMA_ATRACO', 'NHCLP2B':'VICTIMA_HOMICIDIO', 
       'NHCLP2C':'VICTIMA_PERSECUSION',
       'NHCLP2E':'VICTIMA_ACOSO', 'NHCLP4':'COMO_VIVE_ECON', 'NHCLP5':'COMO_NIVEL_VIDA', 
       'NHCLP8AB':'REACCION_OPORTUNA_POLICIA', 'NHCLP8AE':'COMO_TRANSPORTE_URBANO', 'NHCLP10':'SON_INGRESOS_SUFICIENTES',
       'NHCLP11':'SE_CONSIDERA_POBRE', 'NHCLP29_1A':'MED_C19_TRABAJO', 
       'NHCLP29_1C':'MED_C19_CAMBIO_VIVIENDA', 'NHCLP29_1E':'MED_C19_ENDEUDAMIENTO', 
       'NHCLP29_1F':'MED_C19_VENTA_BIENES','NPCHP4':'NIVEL_EDUCATIVO'
       }

datos_dane = datos_dane.rename(columns=dic_dane)
datos_dane.columns

Index(['DIRECTORIO', 'NOMBRE_LOCALIDAD', 'NOMBRE_ESTRATO', 'CONJUNTO_CERRADO',
       'FABRICAS_CERCA', 'TERMINALES_BUS', 'BARES_DISCO', 'OSCURO_PELIGROSO',
       'RUIDO', 'INSEGURIDAD', 'BASURA_INADECUADA', 'INVASION',
       'MOV_ADULTOS_MAYORES', 'MOV_NINOS_BEBES', 'OCUPACION', 'CONTRATO',
       'SALARIO_MES', 'DONDE_TRABAJA', 'DECLARACION_RENTA',
       'VALOR_DECLARACION', 'PERDIDA_TRABAJO_C19', 'PERDIDA_INGRESOS_C19',
       'TIENE_ESCRITURA', 'ANO_COMPRA', 'VALOR_COMPRA', 'HIPOTECA_CRED_BANCO',
       'OTRO_CRED_BANCO', 'CRED_FNA', 'PRESTAMOS_AMIGOS', 'CESANTIAS',
       'AHORROS', 'SUBSIDIOS', 'CUANTO_PAGARIA_MENSUAL',
       'PLANES_ADQUIRIR_VIVIENDA', 'MOTIVO_COMPRA', 'RAZON_NO_ADQ_VIV',
       'TIENE_CARRO', 'CUANTOS_CARROS', 'TIENE_PERROS', 'TIENE_GATOS',
       'VICTIMA_ATRACO', 'VICTIMA_HOMICIDIO', 'VICTIMA_PERSECUSION',
       'VICTIMA_ACOSO', 'COMO_VIVE_ECON', 'COMO_NIVEL_VIDA',
       'REACCION_OPORTUNA_POLICIA', 'COMO_TRANSPORTE_URBANO',
       'SON_INGRESOS_SUFICIENTES', 'SE_CONSIDERA_POBRE', 'MED_C19_TRABAJO',
       'MED_C19_CAMBIO_VIVIENDA', 'MED_C19_ENDEUDAMIENTO',
       'MED_C19_VENTA_BIENES', 'NIVEL_EDUCATIVO'],
      dtype='object')

### Información de los datos cargados nuevamente

In [14]:
datos_dane.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9857 entries, 0 to 9856
Data columns (total 55 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DIRECTORIO                 9857 non-null   float64
 1   NOMBRE_LOCALIDAD           9857 non-null   object
 2   NOMBRE_ESTRATO             9857 non-null   object
 3   CONJUNTO_CERRADO           9857 non-null   int64
 4   FABRICAS_CERCA             9857 non-null   int64
 5   TERMINALES_BUS             9857 non-null   int64
 6   BARES_DISCO                9857 non-null   int64
 7   OSCURO_PELIGROSO           9857 non-null   int64
 8   RUIDO                      9857 non-null   int64
 9   INSEGURIDAD                9857 non-null   int64
 10  BASURA_INADECUADA          9857 non-null   int64
 11  INVASION                   9857 non-null   int64
 12  MOV_ADULTOS_MAYORES        9857 non-null   int64
 13  MOV_NINOS_BEBES            9857 non-null   int64
 14  OCUPACION                  9857 non-null   float64
 15  CONTRATO                   9857 non-null   float64
 16  SALARIO_MES                9558 non-null   float64
 17  DONDE_TRABAJA              9857 non-null   float64
 18  DECLARACION_RENTA          9857 non-null   float64
 19  VALOR_DECLARACION          9558 non-null   float64
 20  PERDIDA_TRABAJO_C19        9857 non-null   int64
 21  PERDIDA_INGRESOS_C19       9857 non-null   int64
 22  TIENE_ESCRITURA            9857 non-null   float64
 23  ANO_COMPRA                 9857 non-null   float64
 24  VALOR_COMPRA               9558 non-null   float64
 25  HIPOTECA_CRED_BANCO        1434 non-null   float64
 26  OTRO_CRED_BANCO            1434 non-null   float64
 27  CRED_FNA                   1434 non-null   float64
 28  PRESTAMOS_AMIGOS           1434 non-null   float64
 29  CESANTIAS                  1434 non-null   float64
 30  AHORROS                    1434 non-null   float64
 31  SUBSIDIOS                  1434 non-null   float64
 32  CUANTO_PAGARIA_MENSUAL     9558 non-null   float64
 33  PLANES_ADQUIRIR_VIVIENDA   9857 non-null   int64
 34  MOTIVO_COMPRA              1177 non-null   float64
 35  RAZON_NO_ADQ_VIV           8680 non-null   float64
 36  TIENE_CARRO                9857 non-null   int64
 37  CUANTOS_CARROS             4987 non-null   float64
 38  TIENE_PERROS               9857 non-null   int64
 39  TIENE_GATOS                9857 non-null   int64
 40  VICTIMA_ATRACO             9857 non-null   int64
 41  VICTIMA_HOMICIDIO          9857 non-null   int64
 42  VICTIMA_PERSECUSION        9857 non-null   int64
 43  VICTIMA_ACOSO              9857 non-null   int64
 44  COMO_VIVE_ECON             9857 non-null   int64
 45  COMO_NIVEL_VIDA            9857 non-null   int64
 46  REACCION_OPORTUNA_POLICIA  288 non-null    float64
 47  COMO_TRANSPORTE_URBANO     288 non-null    float64
 48  SON_INGRESOS_SUFICIENTES   9857 non-null   int64
 49  SE_CONSIDERA_POBRE         9857 non-null   int64
 50  MED_C19_TRABAJO            410 non-null    float64
 51  MED_C19_CAMBIO_VIVIENDA    143 non-null    float64
 52  MED_C19_ENDEUDAMIENTO      1272 non-null   float64
 53  MED_C19_VENTA_BIENES       152 non-null    float64
 54  NIVEL_EDUCATIVO            9447 non-null   float64
dtypes: float64(28), int64(25), object(2)
memory usage: 4.1+ MB